body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../img/login.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Center the container and style it */
.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* Make the container positionable */
    top: -20%; /* Move it up by 20% */
}

/* Style for the input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 15px; /* Adds equal padding to both left and right */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding doesn't mess with width */
}

/* Style for the button */
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Style for the links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}