body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.scoreboard {
    background-color: rgba(0,0,0,0.75);
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    padding: 12px;
}

.hearts {
    color: red;
}

.dialogue-box {
    background-color: rgba(0,0,0,0.75);
    color: white;
    height: 25%; /* 1/4th of the screen height */
    position: absolute;
    bottom: 0;
    width: 98.8%;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
    overflow-y: auto;
    z-index: 10;
}

fieldset {
    border: none; /* Remove border */
}

legend {
    font-size: 20px;
    color: #FFD700;
    font-weight: bold;
}

.button-container {
    display: flex;           /* Use flexbox for alignment */
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 0;       /* Space above the button container */
}

.button-container button {
    margin: 0 10px; /* Space between buttons */
    /*padding: 10px 20px; /* Add padding to buttons for a better appearance */
    font-size: 16px; /* Increase font size for visibility */

    background-color: #5b3114;
    color: #FFFFFF;
    border: 2px solid #FFD700;
    border-radius: 8px;
    padding: 2px 24px;
    /*font-size: 1em;*/
    cursor: pointer;
    font-family: 'Cinzel Decorative', serif;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
/* Button hover effect */
button:hover {
    background-color: #FF6347;
    transform: scale(1.1);
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

.foreground-animate {
    animation: moveUpDown 2s ease-in-out infinite;
 
}
